<div class="loginbody">
    <img class="homebg" src="img/home_bg.png" />
    <img class="logoimg" src="img/logo2.png" />
    <div class='midbox'>
        <div class='upperbox'>
            <a href="#" class="choosebtn" id="signup-tab">
                <br/> SIGN UP </a>
            <a href="#" class="choosebtn" id="login-tab">
                <br/> LOG IN </a>
            <a href="#" class="choosebtn" id="audit-tab">
                <br/> AUDIT </a>
        </div>
        <div class="lowerbox" id="signupbox">
            <form class="form-reg" ng-submit="reg()">
                <div class="lowermiddlebox">
                    <input class="longinput" id="signupemail" type="email" ng-model="signupEmail" autocomplete="off" placeholder="Email">
                    <br>
                    <input class="longinput" id="signuppwd" type="password" requied ng-model="signupPassword" autocomplete="off" placeholder="Password">
                    <button class="bigbtn" id="signupbtn" >SIGN UP</button>
                </div>
            </form>
        </div>
        <!-- 6.30 changed -->
        <div class="lowerbox" id="loginbox">
            <form class="form-login" ng-submit="login()">
                <div class="lowermiddlebox">
                    <input class="longinput" id="loginemail" name="loginemail" type="email" required ng-model="loginEmail" autocomplete="off" value="wanyilun@hku.hk" placeholder="Email">
                    <br>
                    <input class="longinput" id="loginpwd" name="loginpassword" type="password" requied ng-model="loginPassword" autocomplete="off" value="12345678" placeholder="Password">
                    <button class="bigbtn" id="loginbtn">LOG IN</button>
                    <div id="rememberpwd">
                        <input class="remembercheck" type="checkbox" value="remember-pwd"> Remember me</div>
                    <a href="#" id="forgetpwd">Forget Password</a>
                </div>
            </form>
        </div>
        <div class="lowerbox" id="auditbox">
            <div class="lowerleftbox">
                <form class="lowerleftmidbox" ng-submit="anonylogin()">
                    <img id='chooseimg' class="randomimg" src="img/profile100px/opensign.png" />
                    <input class="shortinput" type="text" autocomplete="off" value="visitor 007" placeholder="Name" ng-model='username'>
                    <button class="gobtn" type="submit">Go!</button>
                </form>
                <p id="audit-info">Pick a name and post questions on board as a visitor</p>
            </div>
            <div class="lowermidbox">
                <img src="img/home_or.png" />
            </div>
            <div class="lowerrightbox">
                <img class="qrcode" src="img/home_qrcode.png" />
                <p id="qrcode-info">Scan QR Code to Visit from mobile</p>
            </div>
        </div>
    </div>
    <div class="head-popout">
        <div class="blackbg">
        </div>
        <div class="chooseframe">
            <span class="picktitle">Pick Avatar</span>
            <button class="chooseclosebtn" type="button"><img src="img/closebtn.png"></button>
            <div class="imgcontainer">
            </div>
        </div>
    </div>
</div>
<!-- <script type='text/javascript' src='services/login_script.js'></script> -->
<!-- <div class="form-inline" ng-submit = "login()">
    <div class="form-group">
        <label class="sr-only">Gmail</label>
        <input type="email" required class="form-control" placeholder="Mail Account" ng-model = "email"/>
    </div>
    <button type="submit" class="btn btn-primary btn-enter">Enter</button>
</div> -->
