<div class="header">
    <div class="wrapper">
        <a class="logo" href="#"><img src="img/logo-white.png"></a>
        <a class="backbtn" href="#">
            <img class="backicon" src="img/backicon-white.png"><span>Back</span>
        </a>
        <a class="user" href="#">
            <img class="list-icon" src="img/list-nav-white.png">
            <p class="username">{{$scope.username}}Vistor 008</p>
            <img class="userimg" src="img/profile100px/profile10.png">
        </a>
    </div>
</div>
<!-- Navigation -->
<div class="nav">
    <div class="wrapper">
        <a class="backbtn" href="#">
            <img class="backicon" src="img/backicon.png"><span>Back</span>
        </a>
        <button class="uni-green newquest-btn" href="#" id="test">New Question</button>
    </div>
</div>
<!-- Question board -->
<div class="qboard">
    <div class="container">
        <span class="time">2015/04/01</span>
        <div class="lec-title">
            <a href="#"><img class="lec-qr" src="img/QR.png"></a>
            <span class="lecname">Bill Gates Lecture talking about the future Technology</span>
        </div>
        <div class="questionlist" auto-scroll-to-bottom>
            <p class="section">Section 1. First Q &amp A Section</p>
            <div class="questionframe">
                <img class="ques-userimg" src="img/profile100px/opensign.png">
                <div class="questiontext"><span class="ques-username">Host: </span>We are now openning to new questions.</div>
                <div class="vote">
                    <!--<span class="votenum">16</span>
                    <button  class="votebtn uni-green" href="#"di>Vote</button> -->
                </div>
            </div>
            <div class="questionframe" ng-controller="VoteControl" ng-repeat="message in messages track by $index">
                <img class="ques-userimg" src="{{message.img}}">
                <div class="questiontext"><span class="ques-username"> {{message.name}}: </span>{{message.content}}</div>
                <div class="vote">
                    <span class="votenum">{{message.votenum}}</span>
                    <button unvote="unVoteIt({{message.quesid}})" vote="voteIt({{message.quesid}})" class="votebtn uni-green" href="#">Vote</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fixed NewQuestion-->
    <button class="uni-green newquest-btn" href="#">New Question</button>
    <!-- Popout Ask Box -->
    <div class="ask-popout">
        <div class="blackbg">
        </div>
        <div class="askcontainer">
            <img class="askerimg" src="/img/profile100px/profile18.png">
            <div class="speak-triangle"></div>
            <div class="askframe" ng-controller="MessageCreatorCtrl">
                <img class="askerimg-mobile" src="img/profile100px/profile18.png">
                <span class="askername">Vistor 007</span>
                <button class="askclosebtn" type="button"><img src="img/closebtn.png"></button>
                <textarea class="inputbox" placeholder="The question you want to ask" ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
                <div class="anonybox">
                    <input class="anonycheck" type="checkbox" value="Anonymous" />
                    <span>Anonymous</span>
                </div>
                <button class="uni-green uni-disabled postbtn" disabled post-click>Post</button>
            </div>
        </div>
    </div>
    <!-- Popout QR Box -->
    <div class="qr-popout">
        <div class="blackbg">
        </div>
        <div class="qrcontainer">
            <p class="qrtitle">QR-Code</p>
            <button class="qrclosebtn" type="button"><img src="img/closebtn.png"></button>
            <p class="qr-lectitle">Bill Gates Lecture</p>
            <img class="qrimg" src="img/qr-white.png">
            <p class="qr-explain">Scan to Join Discussion</p>
            <button class="qrsavebtn" type="button"><img src="/img/printbtn.png">Save</button>
            <button class="qrprintbtn" type="button"><img src="/img/savebtn.png">Print</button>
        </div>
    </div>
</div>

<!-- mode control-->
<a class="showhidecontrol"href="#">show/hide</a>

<script type='text/javascript' src='services/room_script.js'></script>
